{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div style="background:white; padding:30px; border-radius:10px; box-shadow:0 5px 20px rgba(0,0,0,0.1);">

            <h2 class="text-center mb-4">Book Appointment</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST" action="{% url 'booking' %}">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Service</label>
                    <select name="service" class="form-control">

                        {% for service in services %}
                        <option value="{{ service.id }}">
                            {{ service.name }} - ₵{{ service.price }}
                        </option>
                        {% endfor %}

                    </select>
                </div>

                <div class="mb-3">
                    <label>Date</label>
                    <input type="date" name="date" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Time</label>
                    <input type="time" name="time" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-dark w-100">
                    Book Appointment
                </button>

            </form>

        </div>

    </div>
</div>

{% endblock %}