{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container py-5">

<h2 class="text-center mb-5 section-title">Haircut Gallery</h2>

<div class="swiper gallerySwiper">

<div class="swiper-wrapper">

{% for image in images %}

<div class="swiper-slide text-center">

<a href="{{ image.image.url }}" class="glightbox" data-gallery="cuts">

<img src="{{ image.image.url }}" 
alt="{{ image.title }}" 
class="img-fluid rounded shadow">

</a>

</div>

{% endfor %}

</div>

</div>

</section>

{% endblock %}

{% block extra_js %}

<script>

const swiper = new Swiper('.gallerySwiper', {

loop: true,

spaceBetween: 20,

grabCursor: true,

centeredSlides: true,

touchRatio: 1,
touchAngle: 45,

autoplay: {
delay: 2500,
disableOnInteraction: false,
},

breakpoints: {

0: {
slidesPerView: 1
},

576: {
slidesPerView: 2
},

768: {
slidesPerView: 3
},

1024: {
slidesPerView: 4
}

}

});

</script>

{% endblock %}