{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">

<div class="container">

<a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
    <img src="{% static 'website/images/popo-logo.png' %}" height="40" class="me-2">
    <span class="fw-bold">popo.blades</span>
</a>

<button class="navbar-toggler" type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarNav">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="{% url 'home' %}">Home</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{% url 'services' %}">Services</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{% url 'contact' %}">Contact</a>
</li>

<li class="nav-item">
<a class="btn btn-warning ms-3" href="{% url 'booking' %}">
Book Appointment
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
</li>

</ul>

</div>

</div>

</nav>